version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
      time: "04:00" # UTC
    labels:
      - "dependencies"
    commit-message:
      prefix: "bump"
    open-pull-requests-limit: 10
    ignore:
      - dependency-name: "rattler*"
    groups:
      cargo-dependencies:
        patterns:
          - "*"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    labels:
      - "dependencies"
    commit-message:
      prefix: "chore(ci)"
    ignore:
      - dependency-name: "crate-ci/typos"
        update-types: ["version-update:semver-patch"]
    groups:
      github-actions:
        patterns:
          - "*"
