book
output/
target/
.idea/
__pycache__/
.pytest_cache/
.DS_STORE
checkouts
.mypy_cache

# mkdocs
.cache
site

# pixi environments
.pixi
target-pixi
*.conda

# python
.ipynb_checkpoints

# generated tutorial markdown (from notebooks)
docs/py-rattler-build/tutorials/