book
output/
target/
.idea/
__pycache__/
.pytest_cache/

# mkdocs
.cache
site

# pixi environments
.pixi
target-pixi
*.conda

# Test files generated during pyproject recipe development
*example*.toml
*recipe*.yaml
/recipe/
