[workspace]
members = ["rust-tests"]

[package]
name = "rattler-build"
version = "0.7.0"
authors = ["Wolf Vollprecht <w.vollprecht@gmail.com>"]
homepage = "https://github.com/prefix-dev/rattler-build"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"
description = "Rust crate to build conda packages on Windows, macOS and Linux"


[features]
default = ['native-tls']
native-tls = ['reqwest/native-tls', 'rattler/native-tls']
rustls-tls = ['reqwest/rustls-tls', 'rattler/rustls-tls']

[dependencies]
serde = { version = "1.0.195", features = ["derive"] }
serde_yaml = "0.9.30"
rattler = { version = "0.16.1", default-features = false }
rattler_conda_types = { version = "0.16.1", default-features = false }
rattler_digest = { version = "0.16.1", default-features = false }
rattler_networking = { version = "0.16.1", default-features = false }
rattler_repodata_gateway = { version = "0.16.1", default-features = false, features = [
    "sparse",
] }
rattler_shell = { version = "0.16.1", default-features = false, features = [
    "sysinfo",
] }
rattler_solve = { version = "0.16.1", default-features = false, features = [
    "resolvo",
] }
rattler_virtual_packages = { version = "0.16.1", default-features = false }
rattler_package_streaming = { version = "0.16.1", default-features = false }
anyhow = "1.0.79"
walkdir = "2.4.0"
sha2 = "0.10.8"
hex = "0.4.3"
serde_json = "1.0.111"
reqwest = { version = "0.11.23", default-features = false, features = [
    "multipart",
] }
tokio = { version = "1.35.1", features = ["rt", "macros", "rt-multi-thread"] }
itertools = "0.12.0"
content_inspector = "0.2.4"
serde_with = "3.4.0"
url = "2.5.0"
tracing = "0.1.40"
clap = { version = "4.4.14", features = ["derive", "env", "cargo"] }
minijinja = { version = "1.0.11", features = [
    "unstable_machinery",
    "custom_syntax",
] }
tracing-subscriber = { version = "0.3.18", features = [
    "env-filter",
    "fmt",
    "ansi",
] }
marked-yaml = { version = "0.2.2" }
miette = { version = "5.10.0", features = ["fancy"] }
num_cpus = "1.16.0"
goblin = "0.8.0"
scroll = "0.12.0"
pathdiff = "0.2.1"
comfy-table = "7.1.0"
futures = "0.3.30"
indicatif = "0.17.7"
console = { version = "0.15.8", features = ["windows-console-colors"] }
once_cell = "1.19.0"
thiserror = "1.0.56"
tempfile = "3.9.0"
chrono = "0.4.31"
sha1 = "0.10.6"
spdx = "0.10.3"
fs_extra = "1.3.0"
ignore = "0.4.22"
globset = "0.4.14"
tracing-indicatif = "0.3.6"
clap-verbosity-flag = "2.1.1"
tracing-core = "0.1.32"
petgraph = "0.6.4"
indexmap = "2.1.0"
dunce = "1.0.4"
fs-err = "2.11.0"
which = "5.0.0"
clap_complete = "4.4.6"
tokio-util = "0.7.10"

tar = "0.4.40"
zip = { version = "0.6.6", default-features = false, features = [
    "flate2",
    "deflate",
] }
bzip2 = "0.4.4"
base64 = "0.21.6"
flate2 = "1.0.28"
xz2 = "0.1.7"
zstd = "0.13.0"
toml = "0.8.8"

[dev-dependencies]
insta = { version = "1.34.0", features = ["yaml"] }
rstest = "0.18.2"
tracing-test = "0.2.4"

[profile.dev.package."*"]
opt-level = 3

[package.metadata.cross.target.x86_64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH",
]

[patch.crates-io]
# rattler = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_networking = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# rattler_package_streaming = { git = "https://github.com/mamba-org/rattler", branch = "main" }

# rattler = { path = "../rattler/crates/rattler" }
# rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
# rattler_digest = { path = "../rattler/crates/rattler_digest" }
# rattler_networking = { path = "../rattler/crates/rattler_networking" }
# rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway" }
# rattler_shell = { path = "../rattler/crates/rattler_shell" }
# rattler_solve = { path = "../rattler/crates/rattler_solve" }
# rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
# rattler_package_streaming = { path = "../rattler/crates/rattler_package_streaming" }
