[workspace]
members = ["rust-tests"]

[package]
name = "rattler-build"
version = "0.46.0"
authors = ["rattler-build contributors <hi@prefix.dev>"]
repository = "https://github.com/prefix-dev/rattler-build"
edition = "2024"
license = "BSD-3-Clause"
readme = "README.md"
description = "A fast CLI tool to build conda packages on Windows, macOS and Linux"
documentation = "https://prefix-dev.github.io/rattler-build"
default-run = "rattler-build"
rust-version = "1.86.0"

[features]
default = ['rustls-tls', 'recipe-generation']
native-tls = [
  'reqwest/native-tls',
  'rattler/native-tls',
  'rattler_repodata_gateway/native-tls',
  'rattler_networking/native-tls',
  'rattler_package_streaming/native-tls',
]
rustls-tls = [
  'reqwest/rustls-tls',
  'reqwest-middleware/rustls-tls',
  'reqwest/rustls-tls-native-roots',
  'rattler/rustls-tls',
  'rattler_repodata_gateway/rustls-tls',
  'rattler_networking/rustls-tls',
  'rattler_package_streaming/rustls-tls',
]
tui = [
  'ratatui',
  'crossterm',
  'ansi-to-tui',
  'throbber-widgets-tui',
  'tui-input',
]
recipe-generation = []
# This feature needs to add a dependency on
# clap-markdown = { git = "https://github.com/ruben-arts/clap-markdown", branch = "main" }
# but in order to be able to publish to crates we remove this feature
generate-cli-docs = []
patch-test-extra = []

[[bin]]
name = "rattler-build"
required-features = ["recipe-generation"]

[[bin]]
name = "patch-apply-gen-test-data"
path = "./scripts/patch-apply-gen-test-data.rs"

[dependencies]
serde = { version = "1.0.219", features = ["derive"] }
serde_yaml = "0.9.34"
serde-untagged = "0.1.8"
anyhow = "1.0.99"
walkdir = "2.5.0"
hex = "0.4.3"
serde_json = "1.0.142"
reqwest = { version = "0.12.23", default-features = false, features = [
  "multipart",
] }
tokio = { version = "1.47.1", features = [
  "rt",
  "macros",
  "rt-multi-thread",
  "process",
] }
itertools = "0.14.0"
content_inspector = "0.2.4"
serde_with = "3.14.0"
url = "2.5.4"
tracing = "0.1.41"
clap = { version = "4.5.45", features = ["derive", "env", "cargo"] }
minijinja = { version = "2.11.0", features = [
  "unstable_machinery",
  "custom_syntax",
] }
tracing-subscriber = { version = "0.3.19", features = [
  "env-filter",
  "fmt",
  "ansi",
  "json",
] }
marked-yaml = { version = "0.8.0" }
miette = { version = "7.6.0", features = ["fancy"] }
num_cpus = "1.17.0"
goblin = "0.10.1"
scroll = "0.13.0"
pathdiff = "0.2.3"
comfy-table = "7.1.4"
futures = "0.3.31"
indicatif = { version = "0.18.0", features = ["in_memory"] }
console = { version = "0.16.0", features = ["windows-console-colors"] }
thiserror = "2.0.16"
tempfile = "3.21.0"
chrono = "0.4.41"
sha1 = "0.10.6"
spdx = "0.11.1"
ignore = "0.4.23"
globset = "0.4.16"
clap-verbosity-flag = "3.0.3"
tracing-core = "0.1.34"
petgraph = "0.8.2"
indexmap = "2.10.0"
dunce = "1.0.5"
fs-err = "3.1.1"
which = "8.0.0"
clap_complete = "4.5.57"
clap_complete_nushell = "4.5.8"
tokio-util = { version = "0.7.16", features = ["codec", "compat"] }

tar = "0.4.44"
zip = { version = "4.3.0", default-features = false, features = ["deflate"] }
bzip2 = "0.6.0"
base64 = "0.22.1"
flate2 = "1.1.2"
xz2 = "0.1.7"
zstd = "0.13.3"
toml = "0.9.5"
memmap2 = "0.9.7"
reqwest-middleware = { version = "0.4.2", features = ["json"] }
async-once-cell = "0.5.4"
terminal_size = "0.4.3"
memchr = "2.7.5"
ratatui = { version = "0.29.0", optional = true }
crossterm = { version = "0.28.1", features = ["event-stream"], optional = true }
ansi-to-tui = { version = "7.0.0", optional = true }
throbber-widgets-tui = { version = "0.8", optional = true }
tui-input = { version = "0.14.0", optional = true }
reflink-copy = "0.1.26"
rayon = "1.11.0"
regex = "1.11.1"
async-recursion = "1.1.1"
opendal = { version = "0.54.0", default-features = false, features = [
  "services-s3",
] }

# Rattler crates
rattler_config = { version = "0.2.7" }
rattler = { version = "0.34.13", default-features = false, features = [
  "cli-tools",
  "indicatif",
] }
rattler_cache = { version = "0.3.31", default-features = false }
rattler_conda_types = { version = "0.39.0", default-features = false, features = [
  "rayon",
] }
rattler_digest = { version = "1.1.5", default-features = false, features = [
  "serde",
] }
rattler_index = { version = "0.24.9", default-features = false }
rattler_networking = { version = "0.25.10", default-features = false, features = [
  "s3",
  "rattler_config",
] }
rattler_upload = { version = "0.2.0", default-features = false, features = [
  "s3",
] }
rattler_redaction = { version = "0.1.12" }
rattler_repodata_gateway = { version = "0.24.0", default-features = false, features = [
  "gateway",
] }
rattler_sandbox = { version = "0.1.10", default-features = false, features = [
  "tokio",
] }
rattler_shell = { version = "0.24.8", default-features = false, features = [
  "sysinfo",
] }
rattler_solve = { version = "3.0.1", default-features = false, features = [
  "resolvo",
  "serde",
] }
rattler_virtual_packages = { version = "2.1.3", default-features = false }
rattler_package_streaming = { version = "0.23.1", default-features = false }
rattler_menuinst = "0.2.21"
lazy_static = "1.5.0"
reqwest-retry = "0.7.0"
retry-policies = "0.5.1"
strum = "0.27.2"
unicode-normalization = "0.1.24"
line-ending = "1.5.1"
diffy = { git = "https://github.com/prefix-dev/diffy.git", branch = "master" }
http-range-client = { git = "https://github.com/pka/http-range-client.git", default-features = false, features = [
  "reqwest-sync",
  "rustls-tls",
] }
sevenz-rust2 = "0.17.1"
dialoguer = "0.12.0"

[target.'cfg(not(target_os = "windows"))'.dependencies]
sha2 = { version = "0.10.9", features = ["asm"] }

[target.'cfg(target_os = "windows")'.dependencies]
sha2 = { version = "0.10.9" }

[dev-dependencies]
insta = { version = "1.43.1", features = ["yaml", "filters"] }
rstest = "0.26.1"
tracing-test = "0.2.5"
tracing-indicatif = "0.3.13"
serial_test = "3.2.0"
criterion = { version = "0.7.0", features = ["html_reports"] }
pretty_assertions = "1.4.1"

[[bench]]
name = "line_breaks"
harness = false

[[bench]]
name = "parse_file"
harness = false

[patch.crates-io]
# rattler = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_sandbox = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_cache = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_conda_types = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_digest = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_index = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_networking = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_repodata_gateway = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_shell = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_solve = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_redaction = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_virtual_packages = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_package_streaming = { git = "https://github.com/conda/rattler", branch = "main" }
# rattler_menuinst = { git = "https://github.com/conda/rattler", branch = "main" }
