[package]
name = "roar"
version = "0.1.0"
edition = "2021"

[dependencies]
serde = { version = "1.0.158", features = ["derive"] }
serde_yaml = "0.9.19"
rattler_conda_types = { git = "https://github.com/wolfv/rattler", branch = "write_binary" }
rattler_package_streaming = { git = "https://github.com/wolfv/rattler", branch = "write_binary" }
rattler_digest = { git = "https://github.com/wolfv/rattler", branch = "write_binary" }
anyhow = "1.0.70"
walkdir = "2.3.3"
sha2 = "0.10.6"
hex = "0.4.3"
serde_json = "1.0.94"
tempdir = "0.3.7"
reqwest = "0.11.15"
tokio = {version = "1.26.0", features = ["rt", "macros", "rt-multi-thread"] }
itertools = "0.10.5"
content_inspector = "0.2.4"
serde_with = "2.3.1"
url = "2.3.1"
tracing = "0.1.37"
clap = { version = "4.1.13", features = ["derive"] }
minijinja = "0.30.7"
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
num_cpus = "1.15.0"
goblin = "0.6.1"
scroll = "0.11.0"
pathdiff = "0.2.1"

[dev-dependencies]
insta = {version = "1.29.0", features = ["yaml"] }
rstest = "0.17.0"
