[package]
name = "rattler-build"
version = "0.3.1"
authors = ["Wolf Vollprecht <w.vollprecht@gmail.com>"]
homepage = "https://github.com/prefix-dev/rattler-build"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"

[features]
default = ['native-tls']
native-tls = ['reqwest/native-tls', 'rattler/native-tls']
rustls-tls = ['reqwest/rustls-tls', 'rattler/rustls-tls']

[dependencies]
serde = { version = "1.0.188", features = ["derive"] }
serde_yaml = "0.9.25"
rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main", default-features = false }
rattler_package_streaming = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main", features = ["sparse"] }
rattler = { git = "https://github.com/mamba-org/rattler", branch = "main", default-features = false }
rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main", default-features = false, features = ["libsolv_rs"]}
rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_networking = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# local deps
# rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
# rattler_package_streaming = { path = "../rattler/crates/rattler_package_streaming" }
# rattler_digest = { path = "../rattler/crates/rattler_digest" }
# rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway", features = ["sparse"] }
# rattler = { path = "../rattler/crates/rattler" }
# rattler_solve = { path = "../rattler/crates/rattler_solve" }
# rattler_shell = { path = "../rattler/crates/rattler_shell" }
# rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }
# rattler_networking = { path = "../rattler/crates/rattler_networking" }
anyhow = "1.0.75"
walkdir = "2.4.0"
sha2 = "0.10.7"
hex = "0.4.3"
serde_json = "1.0.107"
tempdir = "0.3.7"
reqwest = "0.11.20"
tokio = {version = "1.32.0", features = ["rt", "macros", "rt-multi-thread"] }
itertools = "0.11.0"
content_inspector = "0.2.4"
serde_with = "3.3.0"
url = "2.4.1"
tracing = "0.1.37"
clap = { version = "4.4.3", features = ["derive", "env", "cargo"] }
minijinja = { version = "1.0.7", features = ["unstable_machinery"] }
tracing-subscriber = { version = "0.3.17", features = ["env-filter"] }
num_cpus = "1.16.0"
goblin = "0.7.1"
scroll = "0.11.0"
pathdiff = "0.2.1"
comfy-table = "7.0.1"
futures = "0.3.28"
indicatif = "0.17.6"
console = { version = "0.15.7", features = ["windows-console-colors"] }
once_cell = "1.18.0"
thiserror = "1.0.48"
tempfile = "3.8.0"
chrono = "0.4.30"
sha1 = "0.10.5"
git2 = { version = "0.18.0", features = ["vendored-openssl"] }
fs_extra = "1.3.0"

[dev-dependencies]
insta = {version = "1.31.0", features = ["yaml"] }
rstest = "0.18.2"

[profile.dev.package."*"]
opt-level = 3

[package.metadata.cross.target.x86_64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]
