[workspace]
members = ["rust-tests"]

[package]
name = "rattler-build"
version = "0.36.0"
authors = ["rattler-build contributors <hi@prefix.dev>"]
repository = "https://github.com/prefix-dev/rattler-build"
edition = "2021"
license = "BSD-3-Clause"
readme = "README.md"
description = "A fast CLI tool to build conda packages on Windows, macOS and Linux"
documentation = "https://prefix-dev.github.io/rattler-build"
default-run = "rattler-build"
rust-version = "1.81.0"

[features]
default = ['rustls-tls', 'recipe-generation']
native-tls = ['reqwest/native-tls', 'rattler/native-tls']
rustls-tls = [
  'reqwest/rustls-tls',
  'reqwest/rustls-tls-native-roots',
  'rattler/rustls-tls',
]
tui = [
  'ratatui',
  'crossterm',
  'ansi-to-tui',
  'throbber-widgets-tui',
  'tui-input',
]
recipe-generation = []
# This feature needs to add a dependency on
# clap-markdown = { git = "https://github.com/ruben-arts/clap-markdown", branch = "main" }
# but in order to be able to publish to crates we remove this feature
generate-cli-docs = []

[[bin]]
name = "rattler-build"
required-features = ["recipe-generation"]

[dependencies]
serde = { version = "1.0.218", features = ["derive"] }
serde_yaml = "0.9.34"
serde-untagged = "0.1.6"
anyhow = "1.0.96"
walkdir = "2.5.0"
hex = "0.4.3"
serde_json = "1.0.139"
reqwest = { version = "0.12.12", default-features = false, features = [
  "multipart",
] }
tokio = { version = "1.43.0", features = [
  "rt",
  "macros",
  "rt-multi-thread",
  "process",
] }
itertools = "0.14.0"
content_inspector = "0.2.4"
serde_with = "3.12.0"
url = "2.5.4"
tracing = "0.1.41"
clap = { version = "4.5.31", features = ["derive", "env", "cargo"] }
minijinja = { version = "2.7.0", features = [
  "unstable_machinery",
  "custom_syntax",
] }
tracing-subscriber = { version = "0.3.19", features = [
  "env-filter",
  "fmt",
  "ansi",
  "json",
] }
marked-yaml = { version = "0.7.2" }
miette = { version = "7.5.0", features = ["fancy"] }
num_cpus = "1.16.0"
goblin = "0.9.3"
scroll = "0.12.0"
pathdiff = "0.2.3"
comfy-table = "7.1.4"
futures = "0.3.31"
indicatif = "0.17.11"
console = { version = "0.15.10", features = ["windows-console-colors"] }
thiserror = "2.0.11"
tempfile = "3.17.1"
chrono = "0.4.40"
sha1 = "0.10.6"
spdx = "0.10.8"
ignore = "0.4.23"
globset = "0.4.16"
clap-verbosity-flag = "3.0.2"
tracing-core = "0.1.33"
petgraph = "0.7.1"
indexmap = "2.7.1"
dunce = "1.0.5"
fs-err = "3.1.0"
which = "7.0.2"
clap_complete = "4.5.46"
clap_complete_nushell = "4.5.5"
tokio-util = "0.7.13"

tar = "0.4.44"
zip = { version = "=2.2.2", default-features = false, features = [
  "flate2",
  "deflate",
] }
bzip2 = "0.5.1"
base64 = "0.22.1"
flate2 = "1.1.0"
xz2 = "0.1.7"
zstd = "0.13.3"
toml = "0.8.20"
memmap2 = "0.9.5"
reqwest-middleware = { version = "0.4.1", features = ["json"] }
async-once-cell = "0.5.4"
terminal_size = "0.4.1"
memchr = "2.7.4"
ratatui = { version = "0.29.0", optional = true }
crossterm = { version = "0.28.1", features = ["event-stream"], optional = true }
ansi-to-tui = { version = "7.0.0", optional = true }
throbber-widgets-tui = { version = "0.8", optional = true }
tui-input = { version = "0.11.1", optional = true }
reflink-copy = "0.1.24"
rayon = "1.10.0"
patch = "0.7.0"
regex = "1.11.1"
async-recursion = "1.1.1"

# Rattler crates
rattler = { version = "0.32.2", default-features = false, features = [
  "cli-tools",
  "indicatif",
] }
rattler_cache = { version = "0.3.11", default-features = false }
rattler_conda_types = { version = "0.31.1", default-features = false, features = [
  "rayon",
] }
rattler_digest = { version = "1.0.6", default-features = false, features = [
  "serde",
] }
rattler_index = { version = "0.21.0", default-features = false }
rattler_networking = { version = "0.22.6", default-features = false, features = [
  "s3",
] }
rattler_redaction = { version = "0.1.7" }
rattler_repodata_gateway = { version = "0.21.39", default-features = false, features = [
  "gateway",
] }
rattler_sandbox = { version = "0.1.4", default-features = false, features = [
  "tokio",
] }
rattler_shell = { version = "0.22.21", default-features = false, features = [
  "sysinfo",
] }
rattler_solve = { version = "1.3.10", default-features = false, features = [
  "resolvo",
  "serde",
] }
rattler_virtual_packages = { version = "2.0.5", default-features = false }
rattler_package_streaming = { version = "0.22.30", default-features = false }
rattler_menuinst = "0.2.0"
lazy_static = "1.5.0"
reqwest-retry = "0.7.0"
retry-policies = "0.4.0"
strum = "0.27.1"
aws-smithy-types = "1.2.13"

[target.'cfg(not(target_os = "windows"))'.dependencies]
sha2 = { version = "0.10.8", features = ["asm"] }

[target.'cfg(target_os = "windows")'.dependencies]
sha2 = { version = "0.10.8" }

[dev-dependencies]
insta = { version = "1.42.1", features = ["yaml"] }
rstest = "0.24.0"
tracing-test = "0.2.5"
tracing-indicatif = "0.3.9"
serial_test = "3.2.0"

[profile.dev.package."*"]
opt-level = 3

[package.metadata.cross.target.x86_64-unknown-linux-gnu]
pre-build = [
  "dpkg --add-architecture $CROSS_DEB_ARCH",
  "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH",
]

[package.metadata.cross.target.powerpc64le-unknown-linux-gnu]
pre-build = [
  "dpkg --add-architecture $CROSS_DEB_ARCH",
  "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH",
]

[patch.crates-io]
# this fork contains fixes for slow zip reading and large file writing
zip = { git = "https://github.com/wolfv/zip2", branch = "patched" }

# rattler = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_sandbox = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_cache = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_conda_types = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_digest = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_index = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_networking = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_repodata_gateway = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_shell = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_solve = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_redaction = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_virtual_packages = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_package_streaming = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
# rattler_menuinst = { git = "https://github.com/wolfv/rattler", branch = "pub-schema" }
