[package]
name = "rattler-build"
version = "0.1.0"
authors = ["Wolf Vollprecht <w.vollprecht@gmail.com>"]
homepage = "https://github.com/prefix-dev/rattler-build"
edition = "2021"

[features]
default = ['native-tls']
native-tls = ['reqwest/native-tls']
rustls-tls = ['reqwest/rustls-tls']

[dependencies]
serde = { version = "1.0.160", features = ["derive"] }
serde_yaml = "0.9.21"
rattler_conda_types = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_package_streaming = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_digest = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_repodata_gateway = { git = "https://github.com/mamba-org/rattler", branch = "main", features = ["sparse"] }
rattler = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_solve = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_shell = { git = "https://github.com/mamba-org/rattler", branch = "main" }
rattler_virtual_packages = { git = "https://github.com/mamba-org/rattler", branch = "main" }
# local deps 
# rattler_conda_types = { path = "../rattler/crates/rattler_conda_types" }
# rattler_package_streaming = { path = "../rattler/crates/rattler_package_streaming" }
# rattler_digest = { path = "../rattler/crates/rattler_digest" }
# rattler_repodata_gateway = { path = "../rattler/crates/rattler_repodata_gateway", features = ["sparse"] }
# rattler = { path = "../rattler/crates/rattler" }
# rattler_solve = { path = "../rattler/crates/rattler_solve" }
# rattler_shell = { path = "../rattler/crates/rattler_shell" }
# rattler_virtual_packages = { path = "../rattler/crates/rattler_virtual_packages" }

anyhow = "1.0.70"
walkdir = "2.3.3"
sha2 = "0.10.6"
hex = "0.4.3"
serde_json = "1.0.96"
tempdir = "0.3.7"
reqwest = "0.11.16"
tokio = {version = "1.27.0", features = ["rt", "macros", "rt-multi-thread"] }
itertools = "0.10.5"
content_inspector = "0.2.4"
serde_with = "2.3.2"
url = "2.3.1"
tracing = "0.1.37"
clap = { version = "4.2.1", features = ["derive"] }
minijinja = { version = "0.31.0", features = ["unstable_machinery"] }
tracing-subscriber = { version = "0.3.16", features = ["env-filter"] }
num_cpus = "1.15.0"
goblin = "0.6.1"
scroll = "0.11.0"
pathdiff = "0.2.1"
comfy-table = "6.1.4"
futures = "0.3.28"
indicatif = "0.17.3"
console = { version = "0.15.5", features = ["windows-console-colors"] }
once_cell = "1.17.1"
thiserror = "1.0.40"
tempfile = "3.5.0"
chrono = "0.4.24"
sha1 = "0.10.5"

[dev-dependencies]
insta = {version = "1.29.0", features = ["yaml"] }
rstest = "0.17.0"

[profile.dev.package."*"]
opt-level = 3

[package.metadata.cross.target.x86_64-unknown-linux-gnu]
pre-build = [
    "dpkg --add-architecture $CROSS_DEB_ARCH",
    "apt-get update && apt-get install --assume-yes libssl-dev:$CROSS_DEB_ARCH"
]