[project]
name = "rattler-build"
description = "Conda package builder, using the rattler rust backend"
authors = ["Wolf Vollprecht <w.vollprecht@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build = "cargo build"
install = "cargo install --path . --locked"

[dependencies]
rust = "1.75.0.*"

[feature.test.dependencies]
pytest = "7.4.2.*"
conda-package-handling = "2.2.0.*"

[feature.test.tasks]
end_to_end_test = "pytest test/end-to-end -v -s"
test = "cargo test"

[feature.lint.dependencies]
pre-commit = "3.3.3.*"

[feature.lint.tasks]
lint = "pre-commit run --all"

[feature.docs.dependencies]
# Documentation building
mkdocs = "1.5.3.*"
mkdocs-material = "9.4.4.*"
pillow = ">=9.4.0.*"
cairosvg = "2.7.1.*"
mike = "2.0.0.*"

[feature.docs.tasks]
build-docs = "mkdocs build --strict"
docs = "mkdocs serve"
deploy-latest = "mike deploy --push --update-aliases $RELEASE_VERSION latest"
deploy-dev = "mike deploy --push dev devel"

[environments]
docs = ["docs"]
test = ["test"]
lint = ["lint"]