[project]
name = "rattler-build"
description = "Conda package builder, using the rattler rust backend"
authors = ["Wolf Vollprecht <w.vollprecht@gmail.com>"]
channels = ["conda-forge"]
platforms = ["linux-64", "win-64", "osx-64", "osx-arm64"]

[tasks]
build-release = "cargo build --release"
install = "cargo install --path . --locked"
end-to-end-test = { cmd = "pytest test/end-to-end --snapshot-warn-unused --snapshot-details", depends-on = [
    "build-release",
], env = { RATTLER_BUILD_PATH = "$PIXI_PROJECT_ROOT/target-pixi/release/rattler-build" } }
test = "cargo test"
test-ci = "cargo test --release -p rust-tests -- --test-threads 1"
lint = "pre-commit run --all"
generate-cli-docs = "cargo add clap-markdown --git https://github.com/ruben-arts/clap-markdown --branch main && cargo run --bin generate-cli-docs --features generate-cli-docs > docs/reference/cli.md && cargo rm clap-markdown"
update-snapshots = "pytest test/end-to-end --snapshot-update"

[feature.docs.tasks]
build-docs = "mkdocs build --strict"
docs = "mkdocs serve"
deploy-latest = "mike deploy --push --update-aliases $RELEASE_VERSION latest"
deploy-dev = "mike deploy --push dev devel"

[dependencies]
openssl = "3.*"
rust = "~=1.80.0"
pre-commit = "3.3.3.*"
compilers = "1.6.0.*"
libssh2 = "1.11.0.*"
pkg-config = "0.29.2.*"
cmake = "3.27.6.*"
make = "4.3.*"
perl = "5.32.1.*"
pytest = "7.4.2.*"
pyyaml = ">=6.0.1,<6.1"
conda-package-handling = "2.2.0.*"
requests = ">=2.32.2,<2.33"
syrupy = "4.6.*"

[target.linux-64.dependencies]
clang = ">=18.1.8,<19.0"
mold = ">=2.33.0,<3.0"

[target.linux-64.activation]
scripts = ["scripts/activate.sh"]
[target.osx-arm64.activation]
scripts = ["scripts/activate.sh"]
[target.win-64.activation]
scripts = ["scripts/activate.bat"]

[feature.docs.dependencies]
mkdocs = "1.5.3.*"
mkdocs-material = ">=9.5.16,<9.7"
pillow = ">=9.4.0"
cairosvg = "2.7.1.*"
mike = "2.0.0.*"

[environments]
# Using same solve group to keep the environment consistent in versions used and improving cache hits
default = { solve-group = "default" }
docs = { features = [
    "docs",
], no-default-feature = true, solve-group = "default" }
