[workspace]
name = "py-rattler-build"
description = "Python bindings for rattler-build"
authors = ["Wolf Vollprecht <wolf@prefix.dev>"]
channels = ["conda-forge"]
platforms = ["win-64", "linux-64", "osx-64", "osx-arm64"]
license = "BSD-3-Clause"
preview = ["pixi-build"]
# We are using the oldest supported python version as the build variant here
build-variants = { python = ["3.10"] }

[package.build]
backend = { name = "pixi-build-python", version = "*" }

[package.build.config]
compilers = ["rust"]

[package.host-dependencies]
python = "*"
maturin = "~=1.2.2"

[package.target.linux.build-dependencies]
patchelf = "~=0.17.2"

[feature.lint.dependencies]
# we need rust for cargo-fmt and clippy
rust = ">=1.89.0,<1.90"
ruff = ">=0.3.3,<0.4"

[feature.lint.tasks]
fmt = { depends-on = ["fmt-python", "fmt-rust"] }
fmt-python = "ruff format rattler_build examples tests"
fmt-rust = "cargo fmt --all"
# checks for the CI
fmt-rust-check = "cargo fmt --all --check"
fmt-python-check = "ruff format rattler_build examples tests --diff"
fmt-check = { depends-on = ["fmt-python-check", "fmt-rust-check"] }

lint = { depends-on = ["lint-python", "lint-rust"] }
lint-python = "ruff check ."
lint-rust = "cargo clippy --all-targets --workspace -- -D warnings"

[feature.test.dependencies]
py-rattler-build = { path = "." }
ipykernel = "*"

lua = "*"
# Python 3.8 is the minimum supported version, so we use that for testing
python = "3.10.*"

mypy = "~=1.5.1"

pytest = ">=8.3"
pytest-asyncio = "1.2.*"
pytest-xprocess = "1.0.*"
inline-snapshot = ">=0.31.0"
# used in examples
typer = "*"
rich = ">=14.2.0,<15"

[feature.test.pypi-dependencies]
types-networkx = "*"

[feature.test.tasks]
check-cargo-lock = "cargo check --locked"
test = { cmd = "pytest ./tests --doctest-modules", depends-on = ["type-check"] }
type-check = { cmd = "mypy" }


[feature.notebook.dependencies]
marimo = ">=0.17.6,<0.18"

[environments]
lint = { features = ["lint"] }
test = { features = ["test", "notebook"], solve-group = "default" }

[dependencies]
requests = ">=2.32.3,<2.33"
types-requests = ">=2.32.0.20240602,<2.32.1"
