on:
  push:
    branches: [main]
    paths:
      - "src/**"
      - "Cargo.*"
      - "rust-tests/**"
      - "test/end-to-end/**"
      - ".github/workflows/end-to-end.yml"
  pull_request:
    paths:
      - "src/**"
      - "Cargo.*"
      - "rust-tests/**"
      - "test/end-to-end/**"
      - ".github/workflows/end-to-end.yml"

name: End-to-End testing

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  RUST_LOG: info
  RUST_BACKTRACE: 1
  CARGO_TERM_COLOR: always
  RATTLER_BUILD_ENABLE_GITHUB_INTEGRATION: "true"

jobs:
  run_tests:
    strategy:
      matrix:
        os: ["ubuntu-latest", "windows-latest", "macos-latest"]
      fail-fast: false

    name: Run tests
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout source code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v4
      - uses: Swatinem/rust-cache@f13886b937689c021905a6b90929199931d60db1 # v2
        with:
          workspaces: ". -> target-pixi"
          key: ${{ hashFiles('pixi.lock') }}
      - uses: prefix-dev/setup-pixi@v0.9.1
      # build in release mode so that it's reasonably fast to run the tests
      - run: pixi run build-release
      - run: pixi run test-ci
      - run: pixi run test-end-to-end -v
        env:
          PREFIX_DEV_READ_ONLY_TOKEN: ${{ secrets.PREFIX_DEV_READ_ONLY_TOKEN }}
          ANACONDA_ORG_TEST_TOKEN: ${{ secrets.ANACONDA_ORG_TEST_TOKEN }}
          S3_ACCESS_KEY_ID: ${{ secrets.S3_UPLOAD_ACCESS_KEY_ID }}
          S3_SECRET_ACCESS_KEY: ${{ secrets.S3_UPLOAD_ACCESS_KEY_SECRET }}
